# Python
venv/
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Ollama
models/

# Build
dist/
build/
LanguageTool-6.4/
